<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quote.name %><br/>
  <strong>Number of Elevators:</strong>
  <%= @quote.number_of_elevators %><br/>
  <strong>Total Price:</strong>
  <%= @quote.total_price %><br/>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
