<p id="notice"><%= notice %></p>

<p>
  <strong>Fullnameofthecontact:</strong>
  <%= @dg_klead.fullNameOfTheContact %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @dg_klead.companyName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dg_klead.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dg_klead.phone %>
</p>

<p>
  <strong>Projectname:</strong>
  <%= @dg_klead.projectName %>
</p>

<p>
  <strong>Projectdescription:</strong>
  <%= @dg_klead.projectDescription %>
</p>

<p>
  <strong>Departmentinchargeoftheelevators:</strong>
  <%= @dg_klead.departmentInChargeOfTheElevators %>
</p>

<p>
  <strong>Message:</strong>
  <%= @dg_klead.message %>
</p>

<p>
  <strong>Attachedfilestoredasabinaryfile:</strong>
  <%= @dg_klead.attachedFileStoredAsABinaryFile %>
</p>

<p>
  <strong>Dateofthecontactrequest:</strong>
  <%= @dg_klead.dateOfTheContactRequest %>
</p>

<%= link_to 'Edit', edit_dg_klead_path(@dg_klead) %> |
<%= link_to 'Back', dg_kleads_path %>
