
<!--<%= simple_form_for(@lead) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :file_data %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %> -->

<% simple_form_for @lead, :html => {:multipart => true} do |f| %>
<div class="form-inputs">
  <%= f.file_field :file_data %>
</div>
<div class="form-actions">
  <%= f.submit "Upload Attachments" %>
</div>
<% end %>
