
<section class="dark">
<div id="weathertest"></div>
<%# <h1> hello world</h1> %>
<%# <%= render 'weather' %> 
<%= render partial: "weather" %>

    <%# <div>
        <input type="text" id="city" name="city" class="form-control"><br>
        <button type="button" class="btn btn-primary form-control"id="btn_next">Next</button>
    </div> %>

    <%# <div class="row wow slideInUp" data-wow-duration="1s">
        <div class="col-md-4 col-md-offset-4">
            <button onclick="getLocation()" class="btn btn-outline-secondary form-control" placeholder="Get Location">
        </div>
    </div> %>
    <%# <%= form_for(@streamer,:html=>{:id=>"getCity",:multipart => true,:remote=>true}) do |f |%> 
    <div class="row wow slideInUp" data-wow-duration="1s">
        <div class="col-md-4 col-md-offset-4">
            <%= form_for :getWeather, :html=>{:id=>"getCity",:multipart => true,:remote=>true} do |f| %>
                <%= f.label :city, 'Enter a city', id: 'city_label' %>
                <%= f.text_field :city, class:"form-control", required: true %><br/>
                <%= f.submit 'Submit', id: 'city_btn', class: 'btn btn-outline-secondary form-control'%>
            <%end%>
        </div>
    </div>

</section>