<p id="notice"><%= notice %></p>

 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <body>
    <h1 class="fw-800 fs-40 font-roboto" style="text-align: center">Interventions</h1>
    <div class="row no-gutters wow slideInUp" data-wow-duration="1s">
    <div class="col-md-6 col-md-offset-3">
        <%= select_tag 'customer_id', 
            options_for_select(@customers.collect{ |u| [u.company_contact_full_name, u.id] }), 
            class: 'form-control',
            prompt: "Select a Customer"%>
        <%= select_tag 'building_id', 
            options_from_collection_for_select(Building.all, "id", "building_address"),
            class: 'form-control',
            prompt: "Select a Building"%>
        <%= select_tag 'battery_id', 
            options_from_collection_for_select(Battery.all, "id", "id"),
            class: 'form-control',
            prompt: "Select a Battery"%>
        <%= select_tag 'column_id', 
            options_from_collection_for_select(Column.all, "id", "id"),
            class: 'form-control',
            prompt: "Select a Column"%>
    </div>
</div>

  </body>
